Run Query: Find all the tracks whose name starts with 'All'. **How many total records there are for this query?**

In [ ]:
SELECT count(id)
From tracks
where name LIKE  'All%';

Run Query: Find all the customer emails that start with "J" and are from gmail.com.

In [ ]:
SELECT email
from customers
where email LIKE  'j%' AND  email LIKE '%gmail.com';

Run Query: Find the albums with 12 or more tracks.

In [ ]:
SELECT  albums.title, count(t.id)
from albums
join tracks t on albums.id = t.album_id
group by albums.id
having count(t.id) >= 12;

Create a list of album titles and the unit prices for the artist "Audioslave".

In [ ]:
SELECT albums.title, sum(il.unit_price)
from albums
join artists a on a.id = albums.artist_id join tracks t on albums.id = t.album_id 
join invoice_lines il on t.id = il.track_id
where a.name = 'Audioslave'
group by albums.title, il.unit_price;

Using a subquery, find the names of all the tracks for the album "Californication".

In [ ]:
Select tracks.name
from tracks
where   tracks.album_id =
        (SELECT albums.id
         from albums
         where albums.title = 'Californication');

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
Select count(invoices.id), c.id , concat(c.first_name,' ', c.last_name) AS fullname , c.city, c.email
from invoices join customers c on c.id = invoices.customer_id
group by c.id
order by c.id ;

After running the query described above, what is the email address of the 5th person, František Wichterlová?

In [ ]:
Select email
from customers
where id = 5;

Retrieve the track name, album, artistID, and trackID for all the albums.

In [ ]:
SELECT t.name AS track_name, albums.title AS album_name, a.id AS artist_id, t.id AS track_id
from albums join tracks t on albums.id = t.album_id join artists a on a.id = albums.artist_id
group by t.id, albums.title, a.id, t.name
order by albums.title;

What is the song title of trackID 12 from the "For Those About to Rock We Salute You" ?

In [ ]:
SELECT t.name
from albums join tracks t on albums.id = t.album_id
where albums.title LIKE 'For Those About To Rock We Salute You' AND  t.id = 12;

Retrieve a list with the managers last name, and the last name of the employees who report to him or her. **Who are the reports for the manager named Mitchell?**

In [ ]:
with
    empleey as(SELECT employees.last_name, id, reports_to
                from employees),
    managers as (SELECT employees.last_name, id, reports_to
                 from employees
                 where title LIKE '%Manager')
SELECT  managers.last_name, empleey.last_name
from empleey join managers on empleey.reports_to = managers.id;

In [ ]:
with
    empleey as(SELECT employees.last_name, id, reports_to
                from employees),
    managers as (SELECT employees.last_name, id, reports_to
                 from employees
                 where title LIKE '%Manager')
SELECT  managers.last_name, empleey.last_name
from empleey join managers on empleey.reports_to = managers.id
where managers.last_name LIKE 'Mitchell';

Find the name and ID of the artists who do not have albums.

In [ ]:
SELECT name, artists.id
from artists left join albums a on artists.id = a.artist_id
where a.id IS NULL;

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order. **Determine what is the last name of the 6th record** Remember to order things in descending order to be sure to get the correct answer.

In [ ]:
SELECT *
from (SELECT
          row_number() over (ORDER BY last_name desc ) As rowNumber,
          last_name
          from (SELECT first_name, last_name
               from employees
               UNION
               SELECT first_name, last_name from customers) as employeesUnionCustomers) as rowsNames
where rowNumber = 6;

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [ ]:
with citiesCustomers AS(SELECT city, id
                from customers),
    citiesInvoices AS (SELECT billing_city, customer_id
                       from invoices)
SELECT *
from citiesCustomers join citiesInvoices on citiesCustomers.id = citiesInvoices.customer_id
where citiesCustomers.city != citiesInvoices.billing_city;

#emty list -> there are no customers where city != billing_city